*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 6rem 3rem 3rem;
  background-color: #BFD6C1;
}

a:link,
a:visited {
  color: #fff;
}

.title {
  font-size: 2.8rem;
}
@media screen and (min-width: 480px) {
  .title {
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 640px) {
  .title {
    font-size: 4.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    font-size: 5.2rem;
  }
}

/* ANIMATIONS  */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  50% {
    transform: translateX(2.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  50% {
    transform: translateX(-2.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.row {
  margin: 0;
  padding: 0;
}

.button, .button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s ease-out;
  position: relative;
  font-size: 1.6rem;
  color: #fff;
}
.button:hover {
  color: #BFD6C1;
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.1rem solid #BFD6C1;
}
.button:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.navbar {
  font-family: "Roboto Slab", sans-serif;
  height: 6rem;
  background-color: #609966;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  box-shadow: 0 1rem 1rem rgba(56, 112, 64, 0.2);
}

.navbar-brand {
  margin-left: 2rem;
}

.navbar-toggler {
  background-color: #A1C1A4;
}

.nav-item, .nav-link {
  padding: 0 5rem;
}

.navbar-togler-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

@media screen and (max-width: 992px) {
  #navbarNavAltMarkup {
    background-color: #387040;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
  }
  .nav-link {
    margin: 1rem 0;
  }
}
.header {
  height: 100vh;
}
.header__image {
  background-image: url("../../images/header.png");
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
  background-position: top;
}
.header__title-box {
  background-color: #387040;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-weight: 900;
  display: flex;
  flex-direction: column;
}
.heading-primary--main {
  display: block;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  font-size: 3.8rem;
}
@media screen and (min-width: 480px) {
  .heading-primary--main {
    font-size: 5.2rem;
  }
}
@media screen and (min-width: 640px) {
  .heading-primary--main {
    font-size: 5.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .heading-primary--main {
    font-size: 6.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .heading-primary--main {
    font-size: 7.6rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 6.2rem;
  animation: moveInRight 2s ease-out;
}

.heading-secundary {
  color: #BFD6C1;
  font-style: italic;
  font-weight: 300;
  font-size: 2.8rem;
  text-transform: capitalize;
}

@media screen and (max-width: 992px) {
  .header__image {
    height: 60vh;
  }
  .header__title-box {
    height: 40vh;
  }
}
.horario {
  height: 45vh;
}
.horario__text-box {
  background-color: #a0c2a3;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #274e2d;
  padding-right: 5rem;
}
.horario__title {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  font-style: 3rem;
}
.horario__title-main {
  font-weight: 900;
  font-size: 2.8rem;
}
@media screen and (min-width: 480px) {
  .horario__title-main {
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 640px) {
  .horario__title-main {
    font-size: 4.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .horario__title-main {
    font-size: 5.2rem;
  }
}
.horario__title-sub {
  font-weight: 300;
  font-style: italic;
  font-size: 2.5rem;
}
.horario__img {
  background-image: url("../../images/horario.png");
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 992px) {
  .horario {
    height: fit-content;
  }
  .horario__text-box {
    padding: 3rem 2rem;
  }
  .horario__img {
    height: 50vh;
  }
}
.depoimentos {
  background-color: #387040;
  color: #fff;
  text-align: center;
  padding: 5rem 0;
}
.depoimentos__title {
  font-style: italic;
  font-size: 1.9rem;
}
@media screen and (min-width: 480px) {
  .depoimentos__title {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 640px) {
  .depoimentos__title {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .depoimentos__title {
    font-size: 2.8rem;
  }
}

#myCarousel {
  background-color: #387040;
}

.carousel-caption,
.carousel-indicators,
.carousel-inner {
  background-color: #387040;
}

/*# sourceMappingURL=style.css.map */
