$color-primary-light: hsla(111, 55%, 64%, 1);
$color-primary : hsla(140, 49%, 55%, 1);
$color-primary-dark : hsla(160, 64%, 43%, 1);

$color-grey-dark : #777;
$color-white : #fff;
$color-black : #000;

$color-very-dark-green: #387040;
$color-dark-green: #4c8453;
$color-green: #609966;
$color-light-green: #A1C1A4;
$color-very-light-green: #BFD6C1;


