$color-primary-light: hsla(111, 55%, 64%, 1);
$color-primary : hsla(140, 49%, 55%, 1);
$color-primary-dark : hsla(160, 64%, 43%, 1);

$color-grey-dark : #777;
$color-white : #fff;
$color-black : #000;