$color-primary-light: hsla(111, 55%, 64%, 1);
$color-primary : hsla(140, 49%, 55%, 1);
$color-primary-dark : hsla(160, 64%, 43%, 1);

$color-grey-dark : #777;
$color-white : #fff;
$color-black : #000;

$color-very-dark-green: #387040;
$color-dark-green: #4c8453;
$color-green: #609966;
$color-light-green: #A1C1A4;
$color-very-light-green: #BFD6C1;


$title-font-sizes: (
  null  : 2.8rem,
  480px : 3.6rem,
  640px : 4.2rem,
  1024px: 5.2rem,
);

$main-title-font-sizes: (
  null  : 3.8rem,
  480px : 5.2rem,
  640px : 5.6rem,
  1200px: 6.2rem,
  1440px: 7.6rem,
);