.header {
    height: 85vh;
    position: relative;
    // clip-path: polygon(0 0, 0 100%, 100% 75%, 100% 0);


    &__image {
        background-image: url('../../images/header.png');
        // background-image: linear-gradient(to right bottom,
        //         rgba($color-very-dark-green, 0.5),
        //         rgba($color-green, 0.5)),
        //         url('../../images/header.png');
        background-repeat: no-repeat;
        height: auto;
        background-size: cover;
        background-position: top;
    }

    &__title {
        background-color: $color-very-dark-green;
        height: 100%;
        @include display-center;
    }
}