.horario {
    height: 45vh;

    &__text-box {
        background-color: darken($color-very-light-green, 10%);
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: darken($color-very-dark-green, 10%);
        padding-right: 5rem;
    }

    &__title {
        text-transform: uppercase;
        font-style: italic;
        font-weight: 600;
        font-style: 3rem;
    }

    &__title-main {
        font-weight: 900;
        @include font-size($title-font-sizes);
    }

    &__title-sub {
        font-weight: 300;
        font-style: italic;
        font-size: 2.5rem;
    }

    &__img {
        background-image: url('../../images/horario.png');
        // background-image: linear-gradient(to right bottom,
        //         rgba($color-very-dark-green, 0.5),
        //         rgba($color-green, 0.5)),
        //         url('../../images/header.png');
        background-repeat: no-repeat;
        height: auto;
        background-size: cover;
        background-position: center;
    }
}


@media screen and (max-width:992px)  {
    .horario {
        height: fit-content;

        &__text-box {
            padding: 3rem 2rem;
        }

        &__img {
            height: 50vh;
        }
    }


}