.button {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s ease-out;
        position: relative;
        font-size: 1.6rem;
        color: $color-white;
    }

        &:hover {
            color: $color-very-light-green;
            transform: translateY(-0.2rem);
            box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
            border: 0.1rem solid $color-very-light-green;
        }

        &:active {
            transform: translateY(-0.1rem);
            box-shadow: 0 0.2rem 0.5rem rgba($color-black, 0.2);
        }

    }
