.navbar {
    font-family: "Roboto Slab", sans-serif;
    height: 6rem;
    margin: 0 3rem;
    background-color: $color-green;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

.navbar-brand {
    margin-left: 2rem;
}

.navbar-toggler {
    background-color: $color-light-green;
}

.nav-link {
    margin: 0 5rem;

    &:hover,
    &:active,
    &:focus {
        color: $color-very-light-green;
    }
}

.navbar-togler-icon {
    @include display-center;
    padding: 0.5rem;
}

@media screen and (max-width:992px) {
    #navbarNavAltMarkup {
        background-color: $color-very-dark-green;
        border-radius: 0.5rem;
        padding: 2rem;
        text-align: center;


    }

    .nav-link {
        margin: 1rem 0;
    }


}
