*,
*::after,
*::before {
    box-sizing: inherit;
    @include zero;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding: 6rem 3rem 3rem;
}



a:link,
a:visited {
    color: $color-white;
}

